
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bai2</title>
</head>
<body>
    <form action="" method="post">
        <h1>Thông tin sinh viên</h1>
        <table>
            <tr>
                <td align="left"><label>Mã số sinh viên:</label></td>
            </tr>
            <tr>
                <td><input id="id" type="text" maxlength="10" tabindex="1" /></td>
            </tr>
            <tr>
                <td align="left"><label>Mật khẩu:</label></td>
            </tr>
            <tr>
                <td><input id="pass" type="password" maxlength="20" tabindex="2" /></td>
            </tr>
            <tr>
                <td><input id="save" type="checkbox"/><label>Lưu giữ thông tin đăng nhập.</label></td>
            </tr>
            <tr>
                <td><button type="submit">Đăng nhập</button></td>
            </tr>
            <tr>
                <td>Sử dụng thông tin đăng nhập do trường cấp, nếu quên mật khẩu thì nhấp vào
                    <a href="~/Views/Home/Bai3.cshtml">đây</a>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>
