
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bai3</title>
</head>
<body>
    <form action="" method="post">
        <h2>Lấy lại mật khẩu</h2>
        <table>
            <tr>
                <td align="left"><lable>Mã số sinh viên</lable></td>
            </tr>
            <tr>
                <td><input id="id" type="text" maxlength="10" tabindex="1" /></td>
            </tr>
            <tr>
                <td align="left"><label>Mật khẩu cũ:</label></td>
            </tr>
            <tr>
                <td><input id="oldpass" type="password" maxlength="20" tabindex="2" /></td>
            </tr>
            <tr>
                <td align="left"><label>Mật khẩu mới:</label></td>
            </tr>
            <tr>
                <td><input id="newpass" type="password" maxlength="20" tabindex="3" /></td>
            </tr>
            <tr>
                <td align="left"><label>Nhập lại Mật khẩu mới:</label></td>
            </tr>
            <tr>
                <td><input id="passagain" type="password" maxlength="20" tabindex="4" /></td>
            </tr>
            <tr>
                <td><button type="submit">Lưu lại</button></td>
            </tr>
        </table>
    </form>
</body>
</html>
